<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
  <h1><%=@student.first_name%></h1>
   <h1><%=@student.last_name%> </h1>
  <%=@student.created_at%>
  <%=@student.updated_at%>
</div>  
</body>
</html>